* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/video_lg.jpg');
    font-family: ProximaNova,sans-serif;
}

.header_main_page {
    display: block;
    width: 100%;
    position: absolute;
    color: white;
    background-color: rgba(3,3,9,.85);
}

#menu {
    position: relative;
    display: flex;
    align-items: center;
    height: 80%;
    width: 100% !important;
}

#menu > #menuContent {
    justify-content: center;
}

#menu > #menuContent li
{
    border: 1px solid rgba(73, 176, 255);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    text-align: center;
    width: 20vh;
    height: 20vh;
    margin: 7px;
}

#menu > #menuContent li:hover {
    background-color: rgba(73, 176, 255);
}

#menu > ul {
    cursor: pointer;
    list-style-type: none;
    font-size: 20px;
    font-weight: bold;
    white-space: pre-wrap;
}

hr {
    border: 1px solid rgba(73, 176, 255);
    margin: 15px 7px 15px 7px;
}

.header_main_page.openMenu {
    background-color: rgba(36, 150, 242, 0.85);
}

.header_main_page > .section_wrapper {
    height: 100vh;
    flex-direction: column;
    justify-content: center;
}

.page_section {
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    z-index: 1; 
}

.section_wrapper {
    width: 70%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.left > a > img {
    height: 35px;
}

.logo {
    height: 50px;
    width: 200px;
    background-size: 200px;
    background-repeat: no-repeat;
    background-image: url('../images/logo_blue.png');
    background-position: center;
}

.logo.openMenu {
    background-image: url('../images/logo_white.png');
}

.right {
    width: 150px;
}

.icons {
    position: relative;
    text-align: center;
    font-size: 45px !important;
    color: white !important;
}

.menu-btn {
    width: 25px;
    height: 25px;
    position: relative;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.menu-btn__burger {
    width: 50px;
    height: 6px;
    background: white;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before, .menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: white;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: white;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before {
    transform: translateY(-16px);
}

.menu-btn__burger::after {
    transform: translateY(16px);
}

/* ANIMATION */

.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
}

.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}


/* ANIMATION */

.main_title, .main_sub_title{
    text-align: center;
}

h1 {
    display: block;
    font-size: 55px;
    font-weight: bold;
}

.main_sub_title {
    line-height: 25px;
    margin-top: 25px;
}

