* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/video_lg.jpg');
    font-family: ProximaNova,sans-serif;
}

.header_main_page {
    display: block;
    width: 100%;
    position: absolute;
    color: white;
    background-color: rgba(3,3,9,.85);
}

#firstSection {
    animation-name: opacityAnimation;
    animation-duration: 1s;
}

#menu {
    position: relative;
    display: flex;
    align-items: center;
    height: 80%;
    width: 100% !important;
}

#menu > #menuContent {
    width: 100vh;
    height: 50vh;
    text-align: center;
    justify-content: center;
}

#menu > #menuContent  li {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#menu > #menuContent > #offer li {
    float: left;
    border: 1px solid rgb(73, 176, 255);
    cursor: pointer;
    width: 20vh;
    height: 20vh;
    margin: 7px;
}

#menu > #menuContent > #offer li:hover {
    background-color: rgb(73, 176, 255);
}

#articles, #contact, #offer {
    position: relative;
    float: right;
    margin-left: 15%; 
    animation-name: opacityAnimation;
    animation-duration: 1s;
}

#articles > div {
    position: relative;
    float: left;
}

#menu > #menuContent > #articles li {
    width: 40vh;
    height: auto;
    margin: 7px;
    line-height: 45px;
    justify-content: start;
}

#menu > ul {
    width: fit-content;
    height: fit-content;
    align-items: center;
    cursor: pointer;
    list-style-type: none;
    font-size: 18px;
    vertical-align: middle;
    font-weight: bold;
    white-space: pre-wrap;
}

#menu > ul i {
    margin-left: 15px;
    vertical-align: bottom !important;
}

#contactForm {
    width: 80vh;
    line-height: 30px;
    text-align: start; 
    margin-left: 7px;
}

hr {
    border: 1px solid rgb(73, 176, 255);
    margin: 15px 7px 15px 7px;
}

.header_main_page.openMenu {
    background-color: rgba(36, 150, 242, 0.85);
    animation-name: menuShadow;
    animation-duration: 1s;
}

.header_main_page > .section_wrapper {
    height: 100vh;
    flex-direction: column;
    justify-content: center;
}

.page_section {
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    z-index: 1; 
}

.section_wrapper {
    width: 70%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.left > a > img {
    height: 35px;
}

.logo {
    height: 50px;
    width: 200px;
    background-size: 200px;
    background-repeat: no-repeat;
    background-image: url('../images/logo_blue.png');
    background-position: center;
}

.logo.openMenu {
    background-image: url('../images/logo_white.png');
}

.right {
    width: 150px;
}

.search-bar {
    cursor: pointer;
    display: inline-block;
    position: relative;
    z-index: 999;
}

.textField-search-bar {
    visibility: hidden;
    position: absolute;
}

.textField-search-bar.active {
    padding: 5px;
    position: absolute;
    visibility: initial;
    margin: 5px 0px 0px -200px;
    width: auto;
    height: auto;
    background-color: white;
    animation-name: opacityAnimation;
    animation-duration: 1s;
}

.textField-search-bar > input, button {
    padding: 4px;
    border: 0;
    border-radius: 3px;
}

.textField-search-bar > input {
    background-color: rgb(223, 223, 223);
}

.textField-search-bar > button {
    background-color: rgba(36, 150, 242, 0.85);
    color: white;
}

.icons {
    position: relative;
    text-align: center;
    font-size: 45px !important;
    color: white !important;
}

.menu-btn {
    width: 25px;
    height: 25px;
    position: relative;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.menu-btn-burger {
    width: 50px;
    height: 6px;
    background: white;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.menu-btn-burger::before, .menu-btn-burger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: white;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.menu-btn-burger::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: white;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.menu-btn-burger::before {
    transform: translateY(-16px);
}

.menu-btn-burger::after {
    transform: translateY(16px);
}

/* ANIMATION */

.menu-btn.open .menu-btn-burger {
    transform: translateX(-50px);
    background: transparent;
}

.menu-btn.open .menu-btn-burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn-burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}


/* ANIMATION */

.main_title, .main_sub_title{
    text-align: center;
}

h1 {
    display: block;
    font-size: 55px;
    font-weight: bold;
}

.main_sub_title {
    line-height: 25px;
    margin-top: 25px;
}

#menu i {
    font-size: 25px !important;
}

.offer.now {
    color: rgba(36, 150, 242, 0.85) !important;
}

.articles.now {
    color: rgba(36, 150, 242, 0.85) !important;
}

.contact.now {
    color: rgba(36, 150, 242, 0.85) !important;
}

h1 {
    text-align: start;
    margin-left: 7px;
}

.articlesIcons {
    margin-left: 10px;
    transform: rotate(180deg);
}

a:link, a:active, a:hover, a:checked, a:visited {
    text-decoration: none;
    color: white;
}

form > div {
    display: flex;
    justify-content: space-between;
}

form > div label {
    width: 15%;
    align-items: center;
    margin: auto;
}

form #userName, #e-mail, #contents {
    width: 85%;
    background-color: transparent !important;
    border: 1px solid rgb(73, 176, 255);
    color: white;
    padding: 25px;
    margin-bottom: 10px;
}

form > div input:focus {
    outline-color:  rgb(73, 176, 255);
}

#submit-contact {
    height: fit-content;
    background-color: rgb(73, 176, 255);
    border: 1px solid rgb(73, 176, 255);
    border-radius: 5px;
    color: white;
    padding: 5px 15px 5px 15px;
    font-weight: bold;
}

span.bigcheck-target {
    font-family: FontAwesome;
  }
  
input[type='checkbox'].bigcheck {
    position: relative;
    left: -999em;
  }
  
input[type='checkbox'].bigcheck + span.bigcheck-target:after {
    float: left;
    content: "\f096";
  }
  
input[type='checkbox'].bigcheck:checked + span.bigcheck-target:after {
    float: left;
    content: "\f046";
  }

span.bigcheck {
    display: block;
    padding: 0.5em;
  }

.regulations {
    float: left;
    font-size: 14px;
    margin-left: 10px;
}

/* other animations */

@keyframes menuShadow {
    0%   {background-color: rgba(36, 150, 242, 0.00);}
    100% {background-color: rgba(36, 150, 242, 0.85);}
  }

  @keyframes opacityAnimation {
    0%   {opacity: 0.1;}
    100% {opacity: 1;}
  }